html {
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: yellow; */
  background-image: linear-gradient(to left, blue, aquamarine);
}

.App .title {
  text-align: center;
  font-family: "Bigelow Rules", cursive;
}
